body {
    background-color: E5E5E5;
    font-family: 'Montserrat', sans-serif;
}
.about-me-profession{
    font-size: 14px;
    color: black;
}
.main-section{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}
.right-section{
    padding-left: 88px;
}
.about-me-section{
    background-color: red;
    padding: 15px;
    /* margin: 15px; */
}
.projects-section{
    background-color: chocolate;
}
.work-experience-section{
    background-color: aqua;
}
.sidebar-section{
    background-color: #1E2939;
}
#image{
    width: 220px;
    height: 230px;
}